@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    height: 70px;
}

.nav-link{
    font-family: 'Katibeh', cursive;
    font-size: 24px;
    color: black;
}

.nav-link:hover{
    color: #BFBFBF;
}


.home{
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(../img/cozinha.avif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
}

.btn{
    border-radius: 25px;
}

.btn-inicio{
    font-family: 'Red Hat Display', sans-serif;
    height: 50px;
    width: 200px;
    color: white;
    border: solid 1px;
    border-color: white;
}

.btn-inicio:hover{
    color: #0D0402;
    background-color: white;
    border-color: white;
}

.sobre{
    /*Colocar background e apagar a class bg-dark na session da index.html*/
    background-color: #A6977B;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.produtos{
    /*Colocar background e apagar a class bg-secondary na session da index.html*/
    background-color: #D9AF8B;
    background-position: center;
    background-size: cover;
    width: 100%;
    
}

.produtos h3{
    font-family: 'Katibeh', cursive;
    color: #1A1E26;
}

.produtos p{
    font-family: 'Red Hat Display', sans-serif;
    color: #1A1E26;
}

.produtos h6{
    font-family: 'Red Hat Display', sans-serif;
    color: #1A1E26;
}

.produtos a{
    font-family: 'Red Hat Display', sans-serif;
    color: #1A1E26;
}

.altura-card{
    height: 210px;
}

.contatos{
    /*Colocar background e apagar a class bg-dark na session da index.html
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(../img/slide2.avif);*/
    background-color: #A6977B;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
}

.bg-form{
    background-color: #8C7C68;
}

.form-contato{
    border-radius: 15px;
    /*box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);*/
}
